<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<!-- Configurazione servlet dispatcher di spring -->


	<!-- Abilito annotation per modulo MVC -->
	<mvc:annotation-driven />

	<!-- Abilita auto scan di componenti annotati come  @Controller, @Service, @Configuration, etc. nel package specificato -->
	<context:component-scan base-package="it.avvocatoaccanto.controller" />
	
	<!-- Abilito pre e post annotation dei componenti @Controller -->
	<security:global-method-security pre-post-annotations="enabled" />
	
	<!-- Configura percorso da cui leggere template freemarker -->
	<bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
   		<property name="templateLoaderPath" value="/WEB-INF/ftl/"/>
    </bean>
     
    <!-- Specifica a modulo MVC come risolvere le view ritornate dai controller -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
      	<property name="cache" value="true"/>
      	<property name="prefix" value=""/>
      	<property name="suffix" value=".ftl"/>
    </bean>
   	
   	<!-- Abilito upload file -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	    <!-- one of the properties available; the maximum file size in bytes -->
	    <property name="maxUploadSize" value="100000000" />
	    <property name="maxInMemorySize" value="10240" />
	</bean>

</beans>